<!DOCTYPE html>
<html>
  <head>
    <title>VueProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'staffs' %>
  </head>

  <body>
    <div id="app">
      <%= yield %>
    </div>
  </body>
</html>
